{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
 
                <div class="card-body">
                  <h4 class="card-title">Payment orders</h4>
                  <form method="post">
                      {% csrf_token %}
                      {{ form|crispy }}
                      <button type="submit" class='btn btn-primary btn-lg d-block mx-auto'>Checkout</button>
                  </form>
                </div>
              </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Order
                </div>
                <div class="card-body">
                    <ul>
                        
                        {% for cart in carts %}
                        <div class="d-flex justify-content-between">
                            <li>{{ cart.quantity }} x {{ cart.name|truncatewords:4 }}
                                
                            </li>
                            <span class='total_price'>{{ cart.total_price }}</span>
                        </div>
                        {% endfor %}
                            
                    </ul>
                </div>
                <div class="card-footer">
                    <h3 class='text-right'>Total:
                        <span class="total_all_price badge badge-primary">{{carts.get_total_price }}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block js %}
<script src="{% static 'js/nav.js' %}"></script>
  <script src="{% static 'js/order_create.js' %}"></script>
  
  
{% endblock js %}