{% extends 'base.html' %}

{% load static %}

{% load humanize %}

{% block message %}
<div class="alert alert-primary alert-dismissible fade show anhien loginAlertSuccess" role="alert">
    <strong>Login success!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endblock message %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col mb-5">
            <div class="card">



                <div class="card-body">
                    <h3>Shopping Cart: </h3>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col" class='pl-5'>Quantity</th>
                                <th scope="col" class='pl-4'>Price</th>
                                <th scope="col">Money</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for cart in cart %}
                            <tr data-id={{ cart.id }}>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ cart.name }}</td>
                                <td>
                                    <button type='button' class='decrement btn btn-primary '>-</button>
                                    <input min="1" disabled class='w-25 text-center border-0 quantity' type="text"
                                        value="{{ cart.quantity }}">
                                    <button type='button' class='increment btn btn-primary '>+</button>
                                </td>
                                <td class='price'>{{ cart.price|floatformat:0|intcomma }}</td>
                                <td class='money'>{{ cart.total_price }}</td>
                                <td><i class="fa-solid fa-trash text-danger"></i></td>
                            </tr>
                            {% endfor %}



                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-muted">
                    <h3 class='text-right'>Total:
                        <span class="badge badge-primary">{{cart.get_total_price }}</span> 
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/cart_update.js' %}"></script>
{% endblock js %}